@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Becoming a developer is a journey filled with challenges and rewards. Here's a message to inspire you on your path to becoming a developer
        "Embrace the world of code and creation. As a developer, you hold the power to transform ideas into reality, to build solutions to problems, and to shape the future. Your journey may be filled with complex algorithms, late-night debugging, and the occasional 'Why won't this work?!' moments, but remember this: Every line of code you write is a step toward innovation. It's the opportunity to make lives easier, businesses more efficient, and dreams come true.
        Never stop learning, for the world of technology is ever-evolving. Embrace challenges as opportunities to grow and adapt. Celebrate your small wins and keep moving forward. Your code has the potential to touch lives, bridge gaps, and make the impossible possible.
        Stay curious, stay determined, and keep coding. You're not just a developer; you're a creator of tomorrow. Your passion for coding can change the world. So, write that code,build those dreams, and let your imagination flow through the lines of your programs. The digital world is yours to shape. Go and inspire change, one line at a time.
        Remember, becoming a developer is not just a profession; it's a journey of continuous learning and a commitment to making a positive impact through technology. Stay inspired, and let your passion drive you forward.</p>
</main>