@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Addition Developer<br />
        Redmond, GA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
       0593380107
    </address>

   
</main>